.resume {
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }

    }
    &__subtitle {
        text-align: center;
        margin-bottom: 25px;
    }
    &__wrapper {
        padding: 60px 65px 120px 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column{
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $main-color;
                z-index: 9;
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &::after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -18px;
                    left: 0;
                    background-color: #000000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: '';
            height: 1px;
            width: 46px;
            top: 62px;
            position: absolute;
            background-color: #000;
            z-index: -1;

        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-text {
            padding-left: 43px;
            margin-top: 12px;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            top: 58px;
            left: 60px;
            @include before_circle;
            &:before {
                top: -14px;
                left: -17px;
            }
        }
        &-location {
            font-size: 12px;
		    line-height: 18px;
        }
    }
}