.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 340px;
    z-index: 3;
    &__divider {
        width: 2px;
        height: 70px;
        margin-left: 9px;
        background-color: rgba(0, 0, 0, 1);
    }
    &__text {
        width: 24px;
        height: 150px;
        padding-top: 2px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        span {
            display: block;
            width: 150px;
            transform: rotate(-90deg) translate(-38%, -270%);
        }
    }    
   
   

}