.skills {
    &__items {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, minmax(270px, auto)) / repeat(4, minmax(270px, auto));
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;

    }
    &__item {
        padding: 30px 30px 30px 25px;
        border: 1px solid rgba(0, 0, 0, 1);
        img {
            margin-bottom: 20px;
        }
        &-text {
            margin-top: 15px;
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__progress {
        margin-top: 128px;
        display: grid;
        grid-template: repeat(2, minmax(70px, auto)) / repeat(3, minmax(350px, auto));
        grid-auto-rows: minmax(70px, auto);
        column-gap: 45px; 
        row-gap: 30px;
        &-item {
            display: grid;
            grid-template: 21px 14px / 200px 35px;
            justify-content: space-between;
            align-content: space-between;
        }
        
    }
    &__percent {
        font-size: 14px;
        line-height: 21px;
    }
    &__title {
        position: relative;
        padding-left: 14px;
        @include before_circle;
        &::before {
            top: -8.5px;
        }  
    }
    &__scale {
        width: 350px;
        height: 14px;
        background: #E8E4DE;
        border-radius: 4px;
        &-reservoir {
            height: 14px;
            border-radius: 4px;
            background: $main-color;
        }
    }
}